body{
    background-color:#FBF4CF;
    margin:0px;
    padding:0px;
}

h1{
    color:#EB715B;
    text-align:center;
    font-size:70px;
    font-family:'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN', sans-serif;
}
h2{
    color:#51807C;
    font-family:'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN', sans-serif;
    font-size:30px;
    margin-top:50px;
}
h3{
    list-style:none;
    font-size:25px;
    color:#51807C;
    font-family:'ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;
    padding-right:300px;
}
.contents p{
    color:#828f76;
    font-size:20px;
    font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;
    padding-right:150px;
    padding-left:150px;
}
.section-title{
    padding-left:150px;
}
.top-header{
    background-image:url("https://i.ibb.co/Zm7FSVh/Screen-Shot-2021-02-08-at-01-09-30.png");
    height:300px;
    margin-top:0px;
}
button {
    background-color: #EB715B;
    border:solid;
    color: white;
    padding:7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    height:60px;
    width:300px;
    margin:30px;
  }
.first-title{
    padding:100px;
    color:white;
    font-size:70px;
    font-family:'ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN';
}
.header img{
    width:350px;
    height:500px;
    float:right;
    padding-right:270px;
    padding-top:50px;
}
.book-contents-harry img{
    width:150px;
    height:230px;
    padding-left:80px;
}
.book-contents-harry iframe{
    padding-left:100px;
}
a{
    color:#f25042;
    text-decoration:none;
}
.book-contents-harry{
    padding-left:150px;
    padding-right:150px;
}
.book-contents-harry ul{
    padding-bottom:100px;
}
.book-contents-eragon img{
    width:230px;
    height:230px;
    padding-left:80px;
}
.book-contents-eragon iframe{
    padding-left:100px;
}
a{
    color:#f25042;
    text-decoration:none;
}
.book-contents-eragon{
    padding-left:150px;
    padding-right:150px;
}
.book-contents-eragon ul{
    padding-bottom:100px;
}
.top-header h1{
    margin:0px;
}
.first-photo img{
    width:200px;
    height:300px;
}
span{
    font-size:20px;
    color:#828f76;
}
ul{
    font-size:20px;
    font-family:'ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;
}
a{
    color:#828f76;
}
.second-photo img{
    width:200px;
    height:300px;
    float:left;
    margin-left:200px;
}
.second-button{
    margin-top:50px;
    margin-bottom:150px;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #E7D1A1;
    color: white;
    height:80px;
  }
.footer img{
    height:50px;
    width:50px;
    padding-left:510px;
    padding-top:15px;
}
h4{
    font-size:25px;
    font-family:'ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN';
    text-align:center;
    margin:0px;
    padding-right:550px;
    padding-top:22px;
}
#second-button {
    text-align: justify;
  }
  #second-button li {
    display: inline-block;

  }
  #second-button:after {
    content: '';
    width: 100%;
    display: inline-block;
  }
.buttons{
    padding-left:70px;
    padding-right:150px;
    padding-bottom:150px;
}